@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Noto+Serif+Lao:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Noto serif Lao;
    font-weight: 200;
    color: #3a3a3a;
}

/* heading and logo */

h1, h2 {
    font-family: Noto serif Lao, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#logo {
    font-size: 200%;
    float: left;
    margin-left: 30px;

}

#menu, #logo {
    line-height: 75px;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu li {

    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* hero images */

#hero-outer {
    height: 600px;
    width: 100%;
    
    

}

#hero-images {
    clear: both;
    height: 600px;
    width: 100%;
    margin: 7%;
    
}

#body-image {

    height: 600px;
    width: 80%;
    background-image: url(../images/dad\ &\ son\ playing.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: relative;
    
    margin-left: 20%;
    
}

#cover-text, #cover-text h2 {

    color: #0e0e10;

}

#cover-text {

    font-size: 100%;
    text-transform: uppercase;
    text-align: center;

    width: 900px;
    height: 200px;
    
    padding-left: 10px;

    background-color: rgba(92, 245, 240, 0.6);
    border: 1px solid green;
    
    
}

#cover-text-left {

    height: 400px;
    width: 200px;
   position: absolute;
    padding-left: 10px;

    top: 800px;
    left: 20px;

    background-color: rgba(92, 245, 240, 0.6);



}


#cover-text-right {

    height: 400px;
    width: 200px;
    position: absolute;
    padding-left: 10px;

    top: 800px;
    right: 20px;

    background-color: rgba(92, 245, 240, 0.6);
}

#welcome {
    
    text-align: center;
    margin: 20px 0;
    line-height: 100%;
    margin-bottom: 2%;
}

hr {
    border-top: 1px soild #252525;
    width: 100%;
    margin: 5px 0;
}


/* styles for services  */

body {

    background-image: url(../images/dad\ &\ son\ playing.jpeg);
}

#service-heading {

    clear: both;
    text-align: center;

    width: 80%;
    margin: 0 auto;
    padding-top: 30px;
    color: #252525;
}

.service-list {

    text-align: left;
    
}
