@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Noto+Serif+Lao:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

html {

    height: 100%;
}

body {
    overflow-x: hidden;
    font-family: Noto serif Lao;
    font-weight: 200;
    color: #3a3a3a;
}

body {

    min-height: 100%;
    display: flex;
    flex-direction: column;

}

/* heading and logo */

h1, h2 {
    font-family: Noto serif Lao, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#logo {
    font-size: 200%;
    float: left;
    margin-left: 30px;

}

#menu, #logo {
    line-height: 75px;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu li {

    float: right;
    list-style-type: none;
    margin-right: 20px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* hero images */

#hero-images {
    display: flex;
    width: 84%;
    clear: both;
    position: relative;
    margin: 0 auto;
    background-size: cover;
    
    box-shadow: 2px 2px 15px rgb(95, 61, 244);
    
    
}

.image-1, .image-2 {
    height: 500px;
    width: 50%;
}

.main-photo {
    height: 500px;
    width: 100%;

}
.verses {

    height: 40px;
    width: 100px;
    font-size: 200%;
    line-height: 75px;
    align-items: center;
    justify-content: center;
    display: flex;
    border: 2px solid rgba(92, 245, 240, 0.6); 

    background-color: aliceblue;
    text-align: center; 


}

#hero-images .verses {

    position: absolute;
    left: 45%;
    top: 220px;
    z-index: 12;

}

#body-image {

    height: 580px;
    width: 60%;
    background-image: url(../images/dad\ &\ son\ playing.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 5px;  
    margin: 0 auto;
    box-shadow: 2px 2px 15px rgb(95, 61, 244);
    display: flex;  
}

.aim {

    font-size: 100%;
    text-align: center;
    border-radius: 25px;

    height: fit-content;
    width: 85%;
    padding: 10px;
    margin: 0 auto;

    background-color: rgba(194, 239, 210, 0.5);
    border: 1px solid rgb(196, 246, 196);
    box-shadow: 2px 2px 15px rgb(95, 61, 244);
}

/* our-story and why-do-we-exist */

#right-side-text:hover {

    background-color: rgb(63, 75, 243);
    color: #fff;
}

#story-text:hover {

    background-color: rgb(63, 75, 243);
    color: #fff;
}

#story-text {

    
    width: 14%;
    position: relative;
    margin-left: 30px;
   
    float: left;
    border-radius: 50px;

    text-align: left;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}


#right-side-text {

    
    width: 14%;
    position: relative;

    float: right;
    
    margin-right: 30px;
    border-radius: 50px;

    text-align: right;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.welcome {
    
    text-align: center;
    margin: 20px 0;
    line-height: 100%;
    margin-bottom: 2%;
}

hr {
    width: 100%;
    margin: 5px 0;
}

/* footer and social networks and their icons */

.social-networks {

    text-align: center;
}

.social-networks li {

    display: inline;
}

footer {
    margin-top: auto;
    height: 160px;
    float: inline-end;
    
}

.social-networks i {

    font-size: 160%;
    margin: 1%;
    padding: 2%;
}

/* styles for services  */

#service-heading {
    clear: both;
    text-align: center;

    width: 80%;
    margin: 0 auto;
    padding-top: 30px;
    color: #fff;
}
 
#service-heading >h2 {
    text-transform: none;
    letter-spacing: normal;
    color: #fff;
}

.service-list {
    font-size: 110%;
    text-align: left;
    margin: 5%;
    padding: 0%;
    line-height: 40px;
    
}

#services-image {
    width: 100%;
    clear: both;
    background: rgb(0,0,0,0.7) url(../images/pexels-kindel-media-8550841.jpg);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;

}

/* styles for contact us page */

#contact-form-base {

    height: auto;
    clear: both;
    background: rgba(0, 0, 0, 0.7) url(../images/pexels-picjumbocom-225232.jpg);
    width: 98%;
    margin: 0 auto;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
    
}

#contact-form {
    margin: 200px;

    height: 550px;
    width: 40%;
    float:right;
    

    background-color:  rgba(194, 239, 210, 0.6);
    border: 1px solid rgb(0, 115, 255);

    border-radius: 5px;
    box-shadow: 2px 2px 15px rgb(95, 61, 244);

}

label {

    width: 300px;
    display: inline-block;
}

.button {
    box-shadow: 1px 1px 1px;
    border: 1px solid blue;
    background-color: rgb(189, 245, 173);
    
}
.button1 {
    box-shadow: 1px 1px 1px;
    border: 1px solid blue;
    background-color: rgb(189, 245, 173);
    padding-right: 20px;
}


.form {

    margin-left: 20px;
    padding: 20px;
    padding-left: 30px;
    color: rgb(9, 9, 9);
}


.form h2 {
    float: left;
    letter-spacing: normal;
    text-transform: none;
    margin-bottom: 10px;
    color: rgb(9, 9, 9);
    
}

.input-slot {

    width: 70%;
    margin: 10px 5px 10px 5px;
    height: 35px;
    
}

.input-slot-1 {

    width: 30%;
    margin: 15px 5px 15px 5px;
    height: 35px;

}
.other-label {
    display: inline;
    text-align: left;
}


/* media queries */

/* for larger to medium screen size from 1200px wide and down */

@media screen and (max-width: 1200px) {

    #second-half {
        width: 65%;
        height: 1200px;
        margin: 0 auto;
    }

    .welcomne {

        padding: 20px 0;
    }


    #body-image {

        clear: both;
        width: 100%;
        float: left;
        padding: 0;
    }

    #story-text, #right-side-text {

        padding: 30px 0;
        width: 100%;
        float: left;
        padding: 0;

    }

    #contact-form {

        width: 100%;
    }

}

/* for medium screen sizes from 950px and down */

@media screen and ( max-width: 950px) {

    #hero-images {
        width: 100%;
        display: inline;
    }

    .image-1, .image-2 {
        height: 90%;
        width: 90%;
        margin: 0 auto;
    }

    #hero-images .verses {

        left: 40%;
        top: 48%;
        z-index: 12;

    }

    #menu {

    clear: left;
    float: left;
    margin-left: 30px;
    margin-bottom: 20px;
    line-height: 25px;
    }
    
    .aim {
        height: 35%;
        padding-top: 0 5px;
        margin-top: 210px;
        text-align: center;
        overflow: hidden;
        font-size: 70%;
        
    
    }

    #second-half {

        width: 90%;
        height: 1200px;
        margin: 0 auto;
    }

    #story-text, #right-side-text {
        width: inherit;
    }

    #story-text h3, #right-side-text h3 {
        width: 100%;
        text-align: center;
    }

    #story-text p, #right-side-text p {
        text-align: center;
        padding: 0 20px;
    }

    #contact-form {

        padding: 0 20px;
        width: 90%;
        margin: 0 auto;
    }

}

